.wrap{
	width: 100%;
	display: block;
	// position: absolute;
	// overflow-x: hidden;

}

#swarm{
	white-space: nowrap;
		// word-break:break-all;
		.caption{
			white-space: normal;
		}
		.poem{
			// margin-bottom: 5em;
		}
}

@igvw: 30%;

.content{


	margin: 2em 10% 5em 5%;

	@media(max-width:@small){
			width: auto;
			margin: 25px;
			// max-height: 50vh;
	}



		img{
			width: 80%;
			// filter: grayscale(100%);
				&:hover{
					// filter: grayscale(0%);
				}
				transition:@luxuryfast;

				@media(max-width:@small){
					width: 100%;
				}
		}

		.docimg{
					filter: grayscale(100%);
				&:hover{
					filter: grayscale(0%);
				}
		}

		.ig{
	// width: @igvw;
	width: 100%;
	margin-bottom: 8%;
	// margin: 0 2% 2% 0;
	// mix-blend-mode:multiply;
	@media(max-width:@small){
					// width: 45%;
					// margin: 2%;
				}


}

		
			h5	a{
					border-bottom: 1px solid @black;
					&:hover{
						color:white;
						border-bottom: 1px solid @white;
					}
				}


	p{
		a{
			border-bottom: 1px solid @black;
					&:hover{
						color:white;
						border-bottom: 1px solid @white;
					}
		}
	}

	#aslogo{
		padding: 20px 0;
		width: 120px;
	}
	
}

